.footer-section {
    width: 92.5vw;
    height: 37.0370vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    width: 23.8021vw;
    height: 4.3519vh;

    gap: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sites {
    width: 13.7500vw;
    height: 4.4444vh;

    gap: 2vw;
    padding-top: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    width: 26.0417vw;
    height: 11.3889vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: -7vw 0 0 66.4vw;
}

.home-button, .about-button, .contact-button {
    font-size: 1.125rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-button, .instagram-button, .twitter-button, .youtube-button {
    width: 5vw;
    height: 4vh;
    border-radius: 2vw;

    background-color: #974cff5b;

    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-button:hover, .instagram-button:hover, .twitter-button:hover, .youtube-button:hover {
    background-color: #984CFF;

    scale: 115%;
}

.home-img, .about-img, .app-img, .face-img, .inst-img, .twit-img, .yt-img {
    width: 1.25vw;
    height: 2.2222vw;
}

.MPC {
    font-size: 1.125rem;

    display: flex;
    align-items: flex-end;
}